body{
    font-size: 28px;
}

.block:nth-child(odd){
    width: 75%;
    height: 150px;
}

.block:nth-child(even){
    width: 50%;
    height: 150px;
}

.block.block1 {
    background: #55B3B9;
    margin: 10px;
    padding: 10px;
}

.block.block1 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 1.25em;
    font-weight: 900;
    line-height: 15px;
    color: #222222;

}

.block.block1 h2{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 15px;
    color: #222222;
}


.block.block2{
    padding: 5px;
    background: #C56060;
    margin: 10px;
}
.block.block2 h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 15px;
    color: rgba(34, 34, 34, 0.69);
}

.block.block2 h3{
    font-family: 'Sail';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 15px;
    color: rgba(34, 34, 34, 0.69);

}

.block.block3{
    padding: 10px;
    background: #8FC091;
    margin: 10px;
}

.block.block3 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;

    color: rgba(34, 34, 34, 0.62);
}

.block.block3 h2{
    font-family: 'Sail';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 15px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: rgba(34, 34, 34, 0.62);


}

.block.block4{
    padding: 10px;
    background: #8F86AF;
    margin: 10px;
}

.block.block4 h2{
    font-size: 1em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    line-height: 15px;
    text-decoration-line: line-through;

    color: rgba(46, 46, 46, 0.42);

}
.block.block4 h3{
    font-size: 1em;
    font-family: 'Sail';
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    text-decoration-line: line-through;

    color: rgba(46, 46, 46, 0.42);
}

body .block:hover {
    font-size: 2em;
}


